extends layout

block content
  link(rel='stylesheet', href='/stylesheets/comments.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
  
  h1 Gestão de recursos educativos

  if (nivel == 'produtor' || nivel == 'admin')
    div(id="new_resource_modal" class="my-modal" style="display: none")            
      form(id="myForm" class="my-modal-content" action="/recursos/upload" method="POST" enctype="multipart/form-data")
        h2(style="margin: 10px 20px 20px 20px") Adicionar Recurso

        div(class="login_container")

          input(hidden name="checksum0" value="")
        
          div(class="login_container")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Título: 
            div(class="w3-col s9 w3-border")
              input(class="w3-input w3-border w3-light-grey" type="text" name="titulo" required)

          div(class="login_container")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Descrição: 
            div(class="w3-col s9 w3-border")
              input(class="w3-input w3-border w3-light-grey" type="text" name="descricao" required)

          input(id="tipos" hidden value=tipos)

          div(class="login_container")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Tipo: 
            div(class="w3-col s9 w3-border")
              select(id="tipo_recurso0" class="w3-input w3-border w3-light-grey" name="tipo" required)
                option(hidden disabled selected value)
                each t in tipos
                  option(value= t) #{t}
                option(value="Outro") Outro
                
          div(id="outro_tipo_recurso0" class="login_container" style="display: none")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Outro: 
            div(class="w3-col s9 w3-border")
              input(class="w3-input w3-border w3-light-grey" type="text" name="outro_tipo")

          div(class="login_container")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Data de criação: 
            div(class="w3-col s9 w3-border")
              input(class="w3-input w3-border w3-light-grey" type="date" name="dataCriacao" required)
          div(class="w3-row login_container w3-margin-bottom")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Visibilidade: 
            div(class="w3-col s9" style="display: block")
              label(id="switch" class="switch")
                input(type="checkbox" name="visibilidade" id="slider")
                span(class="slider round")
                
          div(class="login_container")
            div(class="w3-col s3")
              label(class="w3-text-teal")
                b Ficheiro: 
            div(class="w3-col s9 w3-border")
              input(class="w3-input w3-border w3-light-grey" type="file" name="recurso" onchange="getChecksum(this,0)" required)

            div(id="anotherFile" style="login-container" class="0")

        div(class="login_container")
          input(class="w3-btn w3-blue-grey" type="button" value="+ 1" onclick='injectForm()')
          input(class="w3-btn w3-blue-grey" style="float:right" type="button" id="upload" value="Submeter")
          input(id="close_new_resource" class="w3-btn w3-blue-grey" style="float:right; margin-right: 10px" type="button" value="Cancelar")

    button(id="new_resource" type="button") Carregar Recursos

  div(class="w3-row")
    div(class="w3-green w3-container w3-twothird")
      h2 2/3
    div(class="w3-container w3-third")
      h2 Novos Recursos: 

      each n in noticias
        .d-flex.flex-row.align-items-center.text-left.comment-top.p-2.bg-light.border-bottom.px-4
          .profile-image
            img.rounded-circle(src=n.foto ? n.foto : '/images/login_avatar.png' width='50' height='50')
          .d-flex.flex-column-reverse.flex-grow-0.align-items-center.votings.ml-1
            .d-flex.flex-column.ml-3
              .d-flex.flex-row.post-title
                h5.text-primary
                  a(href=`/recursos/${n.recursos[0].id}`) #{n.recursos[0].titulo}
              .d-flex.flex-row.align-items-center.align-content-center.post-title
                span Tipo:&nbsp;
                b #{n.recursos[0].tipo}
              .d-flex.flex-row.align-items-center.align-content-center.post-title
                span.mr-2
                  a(href=`/perfil/${n.id_autor}`) #{n.nomeAutor}
                span 
                  b #{moment(new Date(n.data)).locale('pt').fromNow()}


    //- ul.w3-ul
    //-   each p in publicacoes
    //-     li
    //-       h4 #{p.titulo}
    //-       p= p.recurso
    //-       p= p.corpo
    //-       p Autor: #{p.autor}