doctype html
html
  head
    title Gestão de recursos educativos
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src="/javascripts/navbar.js")
  body
    div(class= "topnav")
      a(href="/" style="float: left") Home
      a(href="/recursos" style="float: left") Recursos
      if (!auth)
        a(id="navbar_signup" style="float: right") Registar
        a(id="navbar_login" style="float: right") Login
      else
        a(href="/perfil" style="float: left") Perfil
        a(href="/users/logout" style="float: right") Logout


    div(id="login_modal" class="modal" style=invalidLField ? "display: block" : "display: none")
      form(class="modal-content" action="/users/login" method="POST")
        div(class="login_img")
          span(class="login_close" title="Fechar") &times;

        if (invalidLField)
          div(class="login_error_msg" style="float: center")
            p(style="text-align: center")= error_msg

        div(class="login_container")
          label(for="email")
            b Email
          input(type="text" name="email" class="login_input" style=(invalidLField == "email") ? "background-color: #ffb3b3" : "" value=invalidLField ? email : '' required)
                
          label(for="password")
            b Password
          table
            tr
              th(style= "width: 95%")
                input(id="login_password" type="password" name="password" class="login_input" style=(invalidLField == "password") ? "background-color: #ffb3b3" : "" value=invalidLField ? password : '' required)
              th
                button(id="login_reveal" type="button" class="login_btn reveal_pwd") 👀
          

          button(type="submit" class="login_btn") Login

        div(class="login_container")
          button(id="login_cancelbtn" type="button" class="login_btn login_cancelbtn") Cancel
          span(class="forgot_passwd")
            a(href="#") Esqueceste-te da password?


    div(id="signup_modal" class="modal" style=invalidSField ? "display: block" : "display: none")
      form(class="modal-content" action="/users/signup" method="POST")
        span(class="signup_close" title="Fechar") &times;

        div(class="signup_container")
          h1 Registar
          p Preenche este formulário para te registares!
          hr(class="signup_hr")

          label(for="nome")
            b Nome
          input(type="text" name="nome" class="signup_input" style=(invalidSField == "nome") ? "background-color: #ffb3b3" : "" value=invalidSField ? nome : '' required)

          label(for="email")
            b Email
          input(type="text" name="email" class="signup_input" style=(invalidSField == "email") ? "background-color: #ffb3b3" : "" value=invalidSField ? email : '' required)

          label(for="estatuto")
            b Estatuto
          select(id="tipo_estatuto" name="tipo" required)
            option(hidden disabled selected value)
            option(value="estudante" selected=(tipo == "estudante") ? true : false) Estudante
            option(value="docente" selected=(tipo == "docente") ? true : false) Docente
            option(value="trabalhador" selected=(tipo == "trabalhador") ? true : false) Trabalhador
          input(id="filiacao" type="text" name="filiacao" class="signup_input" style=(invalidSField == "filiacao") ? "background-color: #ffb3b3" : "" value=invalidSField ? filiacao : '' required)

          label(for="password")
            b Password
          table
            tr
              th(style= "width: 95%")
                input(id="signup_password" type="password" name="password" class="signup_input" style=(invalidSField == "password") ? "background-color: #ffb3b3" : "" value=invalidSField ? password : '' required)
              th
                button(id="signup_reveal_pwd" type="button" class="login_btn reveal_pwd") 👀
                
          label(for="password_again")
            b Password
          table
            tr
              th(style= "width: 95%")
                input(id="signup_password_again" type="password" name="password_again" class="signup_input" style=(invalidSField == "password") ? "background-color: #ffb3b3" : "" value=invalidSField ? password_again : '' required)
              th
                button(id="signup_reveal_pwd_again" type="button" class="login_btn reveal_pwd") 👀

        if (invalidSField)
          div(style="float: center")
            p(style="text-align: center")= error_msg

        div(class="signup_container clearfix")
          button(id="signup_cancelbtn" type="button" class="signup_btn signup_cancelbtn") Cancelar
          button(type="submit" class="signup_btn signup_submit_btn") Registar

        
    block content