extends layout 

block content
  script(src='/javascripts/jquery-3.5.1.min.js')
  link(href='/stylesheets/perfil.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
  
  #display.modal(style="display: none; overflow: hidden; height: auto")
  div(id="edit_pic_modal" class="my-modal" style="display: none") 
  div(id="edit_profile_modal" class="my-modal" style="display: none") 
  .container
    .row
      .col-md-12
        #content.content.content-full-width
          // begin profile
          .profile
            .profile-header
              // BEGIN profile-header-cover
              .profile-header-cover
              // END profile-header-cover
              // BEGIN profile-header-content
              .profile-header-content
                // BEGIN profile-header-img
                .profile-header-img
                  if dono 
                    img(src= user.foto ? user.foto : '/images/login_avatar.png' onClick='pictureForm(' +'\'' + user._id +'\'' + ');' style="cursor:pointer; border-radius: 50%;" )
                  else 
                    img(src= user.foto ? user.foto : '/images/login_avatar.png' style="cursor:pointer; border-radius: 50%;")
                // END profile-header-img
                // BEGIN profile-header-info
                .profile-header-info
                  h3.m-t-10.m-b-5
                   | #{user.nome}
                  p.m-b-10
                   i.fa.fa-paper-plane-o(style='font-size:24px;color:#7FDBFF!important')
                    b  Afiliação: 
                   span(style="color:#eee")  #{user.estatuto.filiacao} (#{user.estatuto.tipo})
                  p.m-b-10
                   i.fa.fa-envelope-o(style='font-size:24px;color:#7FDBFF!important')
                    b  E-mail: 
                   span(style="color:#eee")  #{user.email}
                  if user.descricao 
                   p.m-b-10
                    i.fa.fa-file-o(style='font-size:24px;color:#7FDBFF!important')
                     b  Descrição: 
                    span(style="color:#eee")  #{user.descricao} 
                  if dono 
                    a.w3-btn.w3-blue.w3-round-large(href='#' onclick='editForm(' +'\'' + JSON.stringify(user) +'\'' + ');') Editar Perfil
                    |  
                    | &nbsp; 
                    |  
                    a.w3-btn.w3-blue.w3-round-large(href='#' onclick='pictureForm(' +'\'' + user._id +'\'' + ');') Mudar Foto
                    if nivel=="admin"
                      |  
                      | &nbsp; 
                      |  
                      a.w3-btn.w3-red.w3-round-large(onclick='deleteUser(' +'\'' + user._id +'\'' + ');') Bloquear Acesso
                // END profile-header-info
              // END profile-header-content
          // end profile
          // begin profile-content
          .profile-content
            // begin tab-content
            .tab-content.p-0
              // begin #profile-post tab
              #profile-post.tab-pane.fade.active.show
                // begin timeline
                ul.timeline
                  each [data, items] of Object.entries(timeline) 
                    li 
                      .timeline-time
                        span.date #{new Date(data).getFullYear()}
                        span.time(style='color:#0074D9') #{moment(new Date(data)).locale('pt').format("D [de] MMMM")}
                      .timeline-icon
                        a(href='javascript:;') &nbsp;
                      .timeline-body
                        .timeline-header  
                          span.userimage
                            img(src=user.foto alt='')
                          if dono 
                            span.username Eu
                          else 
                            span.username #{user.nome}
                        .timeline-content 
                          each item of items 
                            if item.data
                              - let dataTimeline = new Date(item.data)
                              - const OneHourAgo = (date) => {const hour= 1000 * 60 * 60;const hourago= Date.now()-hour;return date > hourago;}
                              - let print = OneHourAgo(dataTimeline)
                              - dataTimeline = print ? moment(new Date(item.data)).locale('pt').fromNow() : moment(new Date(item.data)).locale('pt').format("LT")
                              p 
                                b 
                                  span(style='color:#0074D9') #{dataTimeline}:
                                if item.recurso
                                  if /Atualizado/.test(item.recurso.estado)
                                    if dono
                                      |  Atualizei um recurso: 
                                    else 
                                      |  Atualizou um recurso:  
                                  if /Novo/.test(item.recurso.estado)
                                    if dono
                                      |  Carreguei um novo recurso: 
                                    else 
                                      |  Carregou um novo recurso: 
                                  if dono && !(/Eliminado/.test(item.recurso.estado))
                                    a(href=`/recursos/${item.recurso.id}`) #{item.recurso.titulo}
                                  else 
                                    a(id=`noticia-${item.recurso.estado}` href=`/recursos/${item.recurso.id}`) #{item.recurso.titulo}
                              
                            else
                              - let dataTimeline = new Date(item.dataCriacao)
                              - const OneHourAgo = (date) => {const hour= 1000 * 60 * 60;const hourago= Date.now()-hour;return date > hourago;}
                              - let print = OneHourAgo(dataTimeline)
                              - dataTimeline = print ? moment(new Date(item.dataCriacao)).locale('pt').fromNow() : moment(new Date(item.dataCriacao)).locale('pt').format("LT")
                              p 
                                b 
                                  span(style='color:#0074D9') #{dataTimeline}:
                                if dono
                                  |  Criei uma nova publicação: 
                                else 
                                  |  Criou uma nova publicação: 
                                a(href=`/publicacoes/${item._id}`) #{item.titulo} 
                  li
                    // begin timeline-icon
                    .timeline-time
                        span.date #{new Date(user.dataRegisto).getFullYear()}
                        span.time(style='color:#0074D9') #{moment(new Date(user.dataRegisto)).locale('pt').format("D [de] MMMM")}
                    .timeline-icon
                      a(href='javascript:;') &nbsp;
                    .timeline-body
                      .timeline-header
                        span.userimage
                            img(src='https://icons-for-free.com/iconfiles/png/512/add+contact+add+friend+friend+request+icon-1320166593140740220.png' alt='')
                        span.username Registo na Plataforma
                      .timeline-content
                        b
                          span.time(style='color:#0074D9') #{moment(new Date(user.dataRegisto)).locale('pt').format("HH:MM")}:  
                        | Registado com sucesso.  

              // end #profile-post tab
            // end tab-content
          // end profile-content
  