extends layout 

block content
  script(src='/javascripts/jquery-3.5.1.min.js')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet')
  link(href='/stylesheets/perfil.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
  #display.modal(style="display: none; overflow: hidden; height: auto")
  #display2.modal(style="display: none; overflow: hidden; height: auto")
  .container
    .row
      .col-md-12
        #content.content.content-full-width
          // begin profile
          .profile
            .profile-header
              // BEGIN profile-header-cover
              .profile-header-cover
              // END profile-header-cover
              // BEGIN profile-header-content
              .profile-header-content
                // BEGIN profile-header-img
                .profile-header-img
                  img(src= user.foto ? user.foto : '/images/login_avatar.png' onClick='pictureForm(' +'\'' + user._id +'\'' + ');' style="cursor:pointer")
                // END profile-header-img
                // BEGIN profile-header-info
                .profile-header-info
                  h3.m-t-10.m-b-5 #{user.nome}
                  p.m-b-10
                   i.fa.fa-paper-plane-o(style='font-size:24px;color:#7FDBFF')  Afiliação: 
                   |  #{user.estatuto.filiacao} (#{user.estatuto.tipo})
                  p.m-b-10 
                   i.fa.fa-envelope-o(style='font-size:24px;color:#7FDBFF')  E-mail: 
                   |  #{user.email}
                  p.m-b-10 
                   i.fa.fa-user-o(style='font-size:24px;color:#7FDBFF')  Registado em: 
                   |  #{user.dataRegisto}
                  p.m-b-10 
                   i.fa.fa-file-o(style='font-size:24px;color:#7FDBFF')  Descrição: 
                   |  #{user.descricao} 
                  a.btn.btn-sm.btn-info.mb-2(href='#' onclick='editForm(' +'\'' + JSON.stringify(user) +'\'' + ');') Editar Perfil
                  |  
                  i.fa.fa-edit 
                  |  
                  a.btn.btn-sm.btn-info.mb-2(href='#' onclick='pictureForm(' +'\'' + user._id +'\'' + ');') Mudar Foto
                // END profile-header-info
              // END profile-header-content
          // end profile
          // begin profile-content
          .profile-content
            // begin tab-content
            .tab-content.p-0
              // begin #profile-post tab
              #profile-post.tab-pane.fade.active.show
                // begin timeline
                ul.timeline
                  li
                    // begin timeline-time
                    .timeline-time
                      span.date yesterday
                      span.time 20:17
                    // end timeline-time
                    // begin timeline-icon
                    .timeline-icon
                      a(href='javascript:;') &nbsp;
                    // end timeline-icon
                    // begin timeline-body
                    .timeline-body
                      .timeline-header
                        span.userimage
                          img(src=user.foto alt='')
                        span.username Sean Ngu
                        span.pull-right.text-muted 82 Views
                      .timeline-content
                        p Location: United States
                      .timeline-footer
                        a.m-r-15.text-inverse-lighter(href='javascript:;')
                          i.fa.fa-thumbs-up.fa-fw.fa-lg.m-r-3
                          |  Like
                        a.m-r-15.text-inverse-lighter(href='javascript:;')
                          i.fa.fa-comments.fa-fw.fa-lg.m-r-3
                          |  Comment
                        a.m-r-15.text-inverse-lighter(href='javascript:;')
                          i.fa.fa-share.fa-fw.fa-lg.m-r-3
                          |  Share
                    br
                    .timeline-body 
                      .timeline-header
                        span.userimage
                          img(src=user.foto alt='')
                        span.username Sean Ngu
                        span.pull-right.text-muted 82 Views
                      .timeline-content
                        p Location: United States
                      .timeline-footer
                        a.m-r-15.text-inverse-lighter(href='javascript:;')
                          i.fa.fa-thumbs-up.fa-fw.fa-lg.m-r-3
                          |  Like
                        a.m-r-15.text-inverse-lighter(href='javascript:;')
                          i.fa.fa-comments.fa-fw.fa-lg.m-r-3
                          |  Comment
                        a.m-r-15.text-inverse-lighter(href='javascript:;')
                          i.fa.fa-share.fa-fw.fa-lg.m-r-3
                          |  Share    
                    // end timeline-body
                  li
                    // begin timeline-icon
                    .timeline-icon
                      a(href='javascript:;') &nbsp;
                    .timeline-body
                      .timeline-header
                        span.username Registo na Plataforma
                      .timeline-content
                        span.date #{moment(user.dataRegisto).locale('pt').format("dddd, DD [de] MMMM [de] YYYY [às] HH:MM")}  

              // end #profile-post tab
            // end tab-content
          // end profile-content
  