extends layout

block content
  div(style="margin: 30px; padding: 10px")

    if (nivel == 'produtor' || nivel == 'admin')
      div(id="new_resource_modal" class="my-modal" style="display: none")            
        form(id="myForm" class="my-modal-content" style="width: 60%" action="/recursos/upload" method="POST" enctype="multipart/form-data")
          h2(style="margin: 10px 20px 20px 20px") Adicionar Recurso

          div(class="login_container")        
            div(class="login_container")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Título: 
              div(class="w3-col s9")
                input(class="w3-input w3-border w3-light-grey" type="text" name="titulo" required)

            div(class="login_container")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Descrição: 
              div(class="w3-col s9")
                input(class="w3-input w3-border w3-light-grey" type="text" name="descricao" required)

            div(class="login_container")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Tipo: 
              div(class="w3-col s9")
                select(id="tipo_recurso0" class="w3-input w3-border w3-light-grey" name="tipo" required)
                  option(hidden disabled selected value)
                  each t in tipos
                    option(value= t) #{t}
                  option(value="Outro") Outro
                  
            div(id="outro_tipo_recurso0" class="login_container" style="display: none")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Outro: 
              div(class="w3-col s9")
                input(class="w3-input w3-border w3-light-grey" type="text" name="outro_tipo")

            div(class="login_container")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Data de criação: 
              div(class="w3-col s9")
                input(class="w3-input w3-border w3-light-grey" type="date" name="dataCriacao" required style="margin-bottom: 20px")

            div(class="w3-row login_container w3-margin-bottom")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Visibilidade: 
              div(class="w3-col s9" style="display: block")
                label(id="switch" class="switch")
                  input(type="checkbox" name="visibilidade" id="slider")
                  span(class="slider round")

            div(class="login_container")
              div(class="w3-col s3")
                label(class="w3-text-teal")
                  b Ficheiros:
              div(class="w3-col s9")
                table(id="ficheiros-upload" class="w3-table-all" style="margin-bottom: 20px")
                  tr
                    th Nome
                    th Tamanho
                    th Visualizar
                    th
                  tr(id=`linha0` class="nova")
                    th(class="nome")
                    th(class="tamanho")
                    th(class="preview")
                    th
                      input(hidden name="checksum0" value="")
                      button(class="adicionar" type="button" onclick=`adicionarFicheiro(0,'upload')`) &#10133;
                      input(name="recurso" type="file" id=`novoFicheiro0` onchange=`getChecksum(this,0)` style="display: none")
                      button(class="remover" type="button" style="color: red; display: none" onclick=`removerFicheiro('linha0', 'upload')`) &#10006;

            div(class="login_container")
              input(class="w3-button w3-white w3-hover-white" type="button" value="" style="cursor: default; outline:none")
              input(class="w3-btn w3-blue-grey" style="float:right" type="button" id="upload" value="Submeter")
              input(id="close_new_resource" class="w3-btn w3-blue-grey" style="float:right; margin-right: 10px" type="button" value="Cancelar")



    input(id="nivelAutorizacao" value=nivel hidden)
    input(id="autores" hidden value=autores)
    if ordemAtual
      input(id="ordemAtual" hidden value=ordemAtual)

    div(class="search-container")
      table(style= "width: 100%")
        tr
          th(class="th-left")
            a.w3-btn.w3-blue.w3-round-large(id="new_resource") Novo Recurso
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          th(class="th-right")
            form(action="/recursos/download" method="POST")
              input(name="selecionados" type="hidden" value='[]')
              button(id="submit_download" type="submit" disabled) Download

          th(class="th-right") &nbsp;

          form(id="formPesquisa" autocomplete="off" action="/recursos/pesquisar" method="POST")
            th(class="th-left")
              table
                tr 
                  if !filtroAtual
                    th
                      select(id="resources_filter" class="w3-btn w3-white" name="filtro" required)
                        option(selected disabled hidden) Filtrar por...
                        option(value="autor") Autor
                        option(value="ano") Data
                        option(value="tipo") Tipo
                        option(value="titulo") Título
                      | &nbsp;
                    th 
                      div(class="autocomplete")
                        input(id="search_title" placeholder="Título..." name="titulo" style="display: none")
                        input(id="search_type" placeholder="Tipo..." name="tipo" style="display: none")
                        input(id="search_author" placeholder="Autor..." name="autor" style="display: none")
                        input(id="search_year" placeholder="Ano de criação..." name="ano" type="number" min="1900" max="2099" step="1" style="display: none")
                    th
                      | &nbsp;
                      button(id="resources_searchbtn" type="submit" class="fa fa-search" style="display: none")

                  else
                    th
                      input(name="filtroAtual" value=filtroAtual hidden)
                      p #{filtroAtual.tipo}: &nbsp;
                    th
                      input(value=filtroAtual.valor disabled)
                      | &nbsp;
                    th
                      a(type="submit" href=`/recursos/limpar-filtro${meus_recursos ? '/meus_recursos' : ''}`) Limpar...

            if (nivel == 'produtor' || nivel == 'admin')
              th(class="th-right")
                if meus_recursos
                  input(id="meus_recursos" name="meus_recursos" type="checkbox" checked)
                else
                  input(id="meus_recursos" name="meus_recursos" type="checkbox")                
                | &nbsp;
                label(for="meus_recursos") Meus Recursos
              

    div(id="new_post_modal" class="my-modal" style="display: none") 

    table(class="w3-table-all")
        tr(class="resources_fields")
          th
          th Título
          th Tipo
          th Autor
          th Tamanho
          th Operações

          form(id="formOrdenacao" method="POST")
            input(name="recursos" value=recursos hidden)
            input(id="tipos" name="tipos" value=tipos hidden)
            input(name="autores" value=autores hidden)
            if filtroAtual
              input(id="filtroAtual" name="filtroAtual" value=filtroAtual hidden)
            if meus_recursos
              input(name="meus_recursos_ordenacao" type="checkbox" checked hidden)
            else
              input(name="meus_recursos_ordenacao" type="checkbox" hidden)     
            
            th Classificação &nbsp;
              a(href="classificacao/+1" class="ordenarRecursos")= ordemAtual == 'classificacao/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="classificacao/-1" class="ordenarRecursos")= ordemAtual == 'classificacao/-1' ? '▾' : '▿'

            th Última modificação &nbsp;
              a(href="dataUltimaMod/+1" class="ordenarRecursos")= ordemAtual == 'dataUltimaMod/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="dataUltimaMod/-1" class="ordenarRecursos")= ordemAtual == 'dataUltimaMod/-1' ? '▾' : '▿'
          
            th Nr publicações &nbsp;
              a(href="nrPubs/+1" class="ordenarRecursos")= ordemAtual == 'nrPubs/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="nrPubs/-1" class="ordenarRecursos")= ordemAtual == 'nrPubs/-1' ? '▾' : '▿'

            th Nr downloads &nbsp;
              a(href="nrDownloads/+1" class="ordenarRecursos")= ordemAtual == 'nrDownloads/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="nrDownloads/-1" class="ordenarRecursos")= ordemAtual == 'nrDownloads/-1' ? '▾' : '▿'

        each r in recursos
          if (r.visibilidade || r.dono)
            tr(id= r._id class="linhaRecurso")
              td
                input(class="recurso-checkbox" type="checkbox")
              td
                a(href="/recursos/" + r._id) #{r.titulo}
              td= r.tipo
              td
                a(href="/perfil/" + r.idAutor) #{r.nomeAutor}
              td= r.tamanho
              td
                if (nivel == 'produtor' || nivel == 'admin')
                  button(type="button" onclick=`showPostForm("${r._id}")`) &#10095;
                else
                  button(type="button" onclick=`showPostForm("${r._id}")` disabled) &#10095;

                if r.dono
                  form(action=`/recursos/${r._id}/remover/` method="GET" style="display: inline-block")
                    button(type="submit" class="resource-btn eliminarRecurso") 🗑️
              td
                div(class="stars rate" data-percent=`${r.classificacao}`)
                  a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/20#${r._id}` title="Horrível") ★
                  a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/40#${r._id}` title="Decente") ★
                  a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/60#${r._id}` title="Bom") ★
                  a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/80#${r._id}` title="Muito bom") ★
                  a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/100#${r._id}` title="Excelente") ★
              td= r.dataUltimaMod
              td= r.nrPubs
              td= r.nrDownloads