extends layout

block content
  .w3-container.w3-margin
    div(class="modal" id="display_recurso")

    h1 Lista de recursos

    input(id="nivelAutorizacao" value=nivel hidden)
    input(id="autores" hidden value=autores)
    input(id="tipos" hidden value=tipos)
    if ordemAtual
      input(id="ordemAtual" hidden value=ordemAtual)

    div(class="search-container")
      table(style= "width: 100%")
        tr
          th(class="th-right")
            form(action="/recursos/download" method="POST")
              input(name="selecionados" type="hidden" value='[]')
              button(id="submit_download" type="submit" disabled) Download

          th(class="th-right") &nbsp;

          form(id="formPesquisa" autocomplete="off" action="/recursos/pesquisar" method="POST")
            th(class="th-left")
              if !filtroAtual
                select(id="resources_filter" class="w3-btn w3-white" name="filtro" required)
                  option(selected disabled hidden) Filtrar por...
                  option(value="autor") Autor
                  option(value="ano") Data
                  option(value="tipo") Tipo
                  option(value="titulo") Título
              else
                input(name="filtroAtual" value=filtroAtual hidden)
                p #{filtroAtual.tipo}:

            th(class="th-left") &nbsp;

            th(class="th-left")
              if !filtroAtual
                div(class="autocomplete")
                  input(id="search_title" placeholder="Título..." name="titulo" style="display: none")
                  input(id="search_type" placeholder="Tipo..." name="tipo" style="display: none")
                  input(id="search_author" placeholder="Autor..." name="autor" style="display: none")
                  input(id="search_year" placeholder="Ano de criação..." name="ano" type="number" min="1900" max="2099" step="1" style="display: none")
              else
                input(value=filtroAtual.valor disabled)

            th(class="th-left") &nbsp;
            
            th(class="th-left")
              if !filtroAtual
                button(id="resources_searchbtn" type="submit" class="fa fa-search" style="display: none")
              else
                a(type="submit" href=`/recursos/limpar-filtro${meus_recursos ? '/meus_recursos' : ''}`) Limpar...

            if (nivel == 'produtor' || nivel == 'admin')
              th(class="th-right")
                if meus_recursos
                  input(id="meus_recursos" name="meus_recursos" type="checkbox" checked)
                else
                  input(id="meus_recursos" name="meus_recursos" type="checkbox")                
                | &nbsp;
                label(for="meus_recursos") Meus Recursos
              

    div(id="new_post_modal" class="my-modal" style="display: none") 

    table(class="w3-table-all")
        tr(class="resources_fields")
          th
          th Título
          th Tipo
          th Autor
          th Tamanho
          th Operações

          form(id="formOrdenacao" method="POST")
            input(name="recursos" value=recursos hidden)
            input(name="tipos" value=tipos hidden)
            input(name="autores" value=autores hidden)
            if filtroAtual
              input(id="filtroAtual" name="filtroAtual" value=filtroAtual hidden)
            if meus_recursos
              input(name="meus_recursos_ordenacao" type="checkbox" checked hidden)
            else
              input(name="meus_recursos_ordenacao" type="checkbox" hidden)     
            
            th Classificação &nbsp;
              a(href="classificacao/+1" class="ordenarRecursos")= ordemAtual == 'classificacao/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="classificacao/-1" class="ordenarRecursos")= ordemAtual == 'classificacao/-1' ? '▾' : '▿'

            th Última modificação &nbsp;
              a(href="dataUltimaMod/+1" class="ordenarRecursos")= ordemAtual == 'dataUltimaMod/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="dataUltimaMod/-1" class="ordenarRecursos")= ordemAtual == 'dataUltimaMod/-1' ? '▾' : '▿'
          
            th Nr comentários &nbsp;
              a(href="nrComentarios/+1" class="ordenarRecursos")= ordemAtual == 'nrComentarios/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="nrComentarios/-1" class="ordenarRecursos")= ordemAtual == 'nrComentarios/-1' ? '▾' : '▿'

            th Nr downloads &nbsp;
              a(href="nrDownloads/+1" class="ordenarRecursos")= ordemAtual == 'nrDownloads/+1' ? '▴' : '▵'
              | &nbsp;&nbsp;
              a(href="nrDownloads/-1" class="ordenarRecursos")= ordemAtual == 'nrDownloads/-1' ? '▾' : '▿'

        each r in recursos
          tr(id= r._id class="linhaRecurso")
            td
              input(id=r.diretoria class="recurso-checkbox" type="checkbox")
            td
              a(href="/recursos/" + r._id) #{r.titulo}
            td= r.tipo
            td
              a(href="/perfil/" + r.idAutor) #{r.nomeAutor}
            td= r.tamanho
            td
              button(type="button" class="resource-btn" onclick=`showImage("${r.nome_ficheiro}", "${r.diretoria}", "${r.tipo_mime}")`) 👁

              if (nivel == 'produtor' || nivel == 'admin')
                button(type="button" onclick=`showPostForm("${r._id}")`) &#10095;
              else
                button(type="button" onclick=`showPostForm("${r._id}")` disabled) &#10095;

              if r.dono
                form(action=`/recursos/${r._id}/remover/` method="GET" style="display: inline-block")
                  button(type="submit" class="resource-btn eliminarRecurso") 🗑️
            td
              div(class="stars rate" data-percent=`${r.classificacao}`)
                a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/20#${r._id}` title="Horrível") ★
                a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/40#${r._id}` title="Decente") ★
                a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/60#${r._id}` title="Bom") ★
                a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/80#${r._id}` title="Muito bom") ★
                a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/100#${r._id}` title="Excelente") ★
            td= r.dataUltimaMod
            td= r.nrComentarios
            td= r.nrDownloads