extends layout 

block content
    div(id="editar_recurso" class="my-modal" style="display: none")

    input(id="tipos_edicao" hidden value=tipos)

    h1= r.titulo
    p Tipo: #{r.tipo}
    p Descrição: #{r.descricao}
    p Data de criação: #{r.dataCriacao}
    p Data de registo: #{r.dataRegisto}
    p Data da última modificação: #{r.dataUltimaMod}
    p Classificação: #{r.classificacao}
    p Autor: #{r.nomeAutor}
    p Comentários: #{r.comentarios}
    p Número de downloads: #{r.nrDownloads}
    p Nome do ficheiro: #{r.nome_ficheiro}
    p Tamanho: #{r.tamanho}
    p Mimetype: #{r.tipo_mime}

    button(id="recurso_preview" onclick=`showImage("${r.nome_ficheiro}", "${r.tipo_mime}")`) Preview
    button(onclick=`showPostForm("${r._id}")`) Criar publicação
    
    if r.dono
        button(onclick=`editarRecurso("${r._id}","${r.titulo}","${r.descricao}","${r.tipo}","${r.visibilidade}")`) Editar

    p
        a(href=`/recursos/${r.idAutor}-${r.nome_ficheiro}/download/`) Download