extends layout 

block content
    div(id="editar_recurso" class="my-modal" style="display: none")

    input(id="tipos_edicao" hidden value=tipos)

    h1= r.titulo
    p Tipo: #{r.tipo}
    p Descrição: #{r.descricao}
    p Data de criação: #{r.dataCriacao}
    p Data de registo: #{r.dataRegisto}
    p Data da última modificação: #{r.dataUltimaMod}
    p Classificação:
        div(class="stars rate" data-percent=`${r.classificacao}`)
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/20#${r._id}` title="Horrível") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/40#${r._id}` title="Decente") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/60#${r._id}` title="Bom") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/80#${r._id}` title="Muito bom") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/100#${r._id}` title="Excelente") ★
    p Autor: #{r.nomeAutor}
    p Comentários: #{r.comentarios}
    p Número de downloads: #{r.nrDownloads}
    p Tamanho: #{r.tamanho}

    button(id="recurso_preview" onclick=`showImage("${r.nome_ficheiro}", "${r.tipo_mime}")`) Preview
    button(onclick=`showPostForm("${r._id}")`) Criar publicação
    
    if r.dono
        button(onclick=`editarRecurso("${r._id}","${r.idAutor}","${r.titulo}","${r.descricao}","${r.tipo}","${r.visibilidade}")`) Editar

    p
        a(href=`/recursos/${r.idAutor}-${r.nome_ficheiro}/download/`) Download