extends layout

block content
  .w3-container.w3-margin
    div(class="modal" id="display_recurso")

    h1 Lista de recursos

    table.w3-table-all
        tr
          th Título
          th Tipo
          th Autor
          th Nr comentários
          th Classificação
          th Última modificação
          th Tamanho
          th Operações
          th Nr downloads
        each r in lista
          tr
            td
              a(href="/recursos/" + r._id) #{r.titulo}
            td= r.tipo
            td
              a(href="/perfil/" + r.idAutor) #{r.nomeAutor}
            td= r.nrComentarios
            td
              div(class="stars rate" data-percent=`${r.classificacao}`)
                a(href=`/recursos/${r._id}/classificar/20` title="Horrível") ★
                a(href=`/recursos/${r._id}/classificar/40` title="Decente") ★
                a(href=`/recursos/${r._id}/classificar/60` title="Bom") ★
                a(href=`/recursos/${r._id}/classificar/80` title="Muito bom") ★
                a(href=`/recursos/${r._id}/classificar/100` title="Excelente") ★
            td= r.dataUltimaMod
            td= r.tamanho
            td
              button(type="button" class="resource-btn" onclick=`showImage("${r.idAutor}", "${r.nome_ficheiro}", "${r.tipo_mime}")`) 👁
              form(action=`/recursos/${r._id}/${r.idAutor}-${r.nome_ficheiro}/download/` method="GET" style="display: inline-block")
                button(type="submit" class="resource-btn") ⬇️
              |
              if (r.dono)
                form(action=`/recursos/${r._id}/remover/`, method="GET" style="display: inline-block")
                  button(type="submit" class="resource-btn") 🗑️
            td= r.nrDownloads