extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/modal.css')
    
    div(id="editar_recurso" class="my-modal" style="display: none")
    div(id="preview_ficheiro" class="modal")

    input(id="tipos_edicao" hidden value=tipos)

    h1= r.titulo
    p Tipo: #{r.tipo}
    p Descrição: #{r.descricao}
    p Data de criação: #{r.dataCriacao}
    p Data de registo: #{r.dataRegisto}
    p Data da última modificação: #{r.dataUltimaMod}
    p Classificação:
        div(class="stars rate" data-percent=`${r.classificacao}`)
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/20#${r._id}` title="Horrível") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/40#${r._id}` title="Decente") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/60#${r._id}` title="Bom") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/80#${r._id}` title="Muito bom") ★
            a(class="classificarRecurso" href=`/recursos/${r._id}/classificar/100#${r._id}` title="Excelente") ★
    p Autor: #{r.nomeAutor}
    p Comentários: #{r.comentarios}
    p Número de downloads: #{r.nrDownloads}
    p Tamanho: #{r.tamanho}

    table 
        p Ficheiros:
        tr 
            th Nome 
            th Tamanho
            th Visualizar
        each f in r.ficheiros 
            tr 
                td= f.nome_ficheiro
                td= f.tamanho
                td
                    button(type="button" class="resource-btn" onclick=`previewFicheiro("${f.nome_ficheiro}", "${f.diretoria}", "${f.tipo_mime}")`) 👁

    button(onclick=`showPostForm("${r._id}")`) Criar publicação
    
    if r.dono
        button(onclick=`editarRecurso('${JSON.stringify(r)}')`) Editar

    p
        a(href=`/recursos/${r.idAutor}-${r.nome_ficheiro}/download/`) Download