extends layout

block content
  .w3-container.w3-margin
    h1 Lista de recursos

    table.w3-table-all
        tr
          th Título
          th Tipo
          th Autor
          th Nr comentários
          th Classificação
          th Última modificação
          th Tamanho
          th Operações
          th Nr downloads
        each r in lista
          tr
            td= r.titulo
            td= r.tipo
            td= r.autor
            td= r.nrComentarios
            td
              if (r.classificacao)
                r.classificacao
              else
                -
            td= r.dataUltimaMod
            td= r.tamanho
            td ✏️ 🗑️
            td= r.nrDownloads